.spirit-section {
    position: relative;
    padding-bottom: rem(100);
    &:nth-of-type(odd) {
        &:before {
            background-image: url(/img/cloud-light.svg);
        }
        background-color: $md-purple;
    }
    &:nth-of-type(even) {
        &:before {
            background-image: url(/img/cloud-dark.svg);
        }
        background-color: $dark-purple;
    }
    &:before {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: rem(100);
        top: rem(-100);
        left: 0;
        z-index: 1;
        background-repeat: repeat-x;
        background-size: rem(1740) rem(260);
        pointer-events: none;
    }
    .drink-indiv {
        margin-bottom: rem(100);
    }
}
